@import url('https://fonts.googleapis.com/css2?family=Itim&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
	max-width: screen;
	overflow-x: hidden;
}

.container {
	max-width: unset !important;
	width: min(90%, 1200px);
}
